:root{
	--flash_duration:1s;
	--flash_color:#e0dcc5;
	--bg_color_topButtons:white;
	--text_color_topButtons:black;
	--bg_color_body:#DFDCB7;
	--bg_color_top:#223355;
	--bg_color_book_title:grey;
	--bg_color_description:lightgrey;
	--text_color_description:black;
	--text_color_book_title:black;
	--bg_color_buttons:purple;
	--bg_color_buttons_hover:teal;
	--bg_color_buttons_active:blue;
	--bg_color_label:#f3f2ed;
	--text_color_label:black;
	
}
body{
	background-color:var(--bg_color_body);
}
.top_menu{
	position:fixed;
	display:flex;
	align-items:center;
	background-color:var(--bg_color_top);
	top:0%;
	left:0%;
	width:100%;
	height:100px;
	z-index:5;
}
.top_menu>*{
	
}

.top_menu img{
	height:6em;
	margin-left:2%;
}
.top_menu a{
	text-decoration:none;
	cursor:pointer;
	background:var(--bg_color_topButtons);
	color:var(--text_color_topButtons);
	user-select:none;
	border-radius:2px;
	font-size:25px;
	margin-left:4%;
}

/* Main background */
.background_grid{
	position:absolute;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap:0;
	z-index:-1;
	top:0;
	left:0;
	width:99%;
	height:99%;
	opacity:0.2;
}
.background_grid img{
	width:100%;
	display:block;
	border-radius:10px;
}








/* flex-box layout */
#content_wrap{
	display:flex;
	margin-top:200px;
	height:400px;
}
#left{
	flex:1;
	margin-right:10%;
	margin-left:10%;
}
#right{
	margin-right:20%;
}


/* Image and label part*/
.image_wrap{
	position:relative;
	width:100%;
	height:100%;
}
.image_wrap img{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border-radius:10px;

}
.image_wrap div{
	position:relative;
	border-radius:10px;
	color:var(--text_color_label);
	background-color:var(--bg_color_label);
	z-index:2;
	top:67%;
	width:99.5%;
	transition: opacity 0.5s, transform 0.8s;
	opacity:0;
}
#label_wrap div{
	opacity:1;
}
#top_image{
	transition:opacity 0.8s;
	z-index:3;
	cursor:pointer;
}
#bottom_image{
	transition:opacity 2s;
	opacity:0;
	z-index:0s;
}
#top_image:hover{
	opacity:0;
}
#top_image:hover ~ div{
	opacity:0.75;
	transform: translateY(70px);
}
#top_image:hover ~ #bottom_image{
	transition:opacity 0.5s;
	opacity:1;
}

#label_wrap div{
	font:italic bold 13px georgia;
	text-align:center;
	line-height:25px;
}
#left{
	display:flex;
	flex:1;
}
#right{
flex:2;
	display:flex;
	flex-direction:column;
}
.info_box{
	
	width:100%;
	margin-right:10%;
	height:400px;
	border-radius:100px;
}
#txt{
	
	}
.info_box h2{
 
	text-align:left;
	font: bold 25px georgia;
	color:var(--text_color_book_title);
	width:100%;
	padding:10px;
}

.info_box span{
	width:100%;
	padding:10px;
	display:block;
	font: bold 20px fantasy;
	word-spacing:0.5em;
	line-height:1.5;
	color:var(--text_color_description);
}
.info_box.flash{
	animation-name:flash;
	animation-duration:var(--flash_duration);
}
#info_box_btns{
	
}
#info_box_btns a {
	
	text-decoration:none;
	cursor:pointer;
	background:var(--bg_color_buttons);
	user-select:none;
	border-radius:2px;
	margin-top:4em;
	margin-right:20px;
	font-size:25px;
	transition: background 0.1s linear;
}
#info_box_btns a:first-child{
	margin-left:10px;
}
#info_box_btns a:last-child{
	margin-right:0px;
}
#info_box_btns a:hover{
	background:var(--bg_color_buttons_hover);
}
#info_box_btns a:active{
	background:var(--bg_color_buttons_active);
	transform: translate(1px,1px);
}

@keyframes flash{
  from {background-color: var(--flash_color);}
  to {background-color: transparent;}
}






